<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>USING EXPRESS</h1>
    <div class="table-wrapper">
        <h2>List of Users</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <% userData.forEach(function(user){ %>
                    <tr>
                        <td><%= user._id %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.age %></td>

                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>